/* Fundo animado sutil */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #e3fdf5, #fef9d7, #d4fc79, #96e6a1);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Centraliza o ícone e o texto */
.loading-container {
    text-align: center;
}

.loading-container i {
    margin-bottom: 20px;
}

.loading-container p {
    font-size: 1.2rem;
    color: #15c691;
}
