*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px;
}
.container-noticia{
    display: block;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border-radius:8px ;
    padding: 10px;
}
.container-header{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

    .container-header h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 45px;
    }

    .container-time{
        display: flex;
        justify-content: center;
        
    }
    .container-time h2{
        margin-left: 3px;
        font-size: 15px;
        font-style: italic;
    }
    .container-conteudo{
        text-align: justify;
        padding: 10px;
    }
    .container-conteudo p{
        font-size: 20px;
    }
    .container-midias{
        width: 350px;
        height: 650px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow-y: scroll;
    }
    .container-img{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 10px;
        
    }
   

      .imagem-centro img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
      }
