* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px;
}

.container-noticia {
    display: block;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}

.container-header {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.container-header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

.container-time {
    display: flex;
    justify-content: center;

}

.container-time h2 {
    margin-left: 3px;
    font-size: 15px;
    font-style: italic;
}

.container-conteudo {
    text-align: justify;
    padding: 10px;
}

.container-conteudo p {
    font-size: 20px;
}

.container-midias {
    width: 350px;
    height: 650px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow-y: scroll;
    position: relative;
}

/* Título fixo no topo */
.container-midias .titulo {
    position: sticky;
    top: 0;
    background-color: white; /* Ou a cor de fundo do container */
    z-index: 1;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.container-img {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;

}


.imagem-centro img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
  }
  
  .modal-conteudo {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
  }
  
  .fechar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
  }
  .fechar:hover{
    color: hsl(0, 0%, 22%);
  }
  .anterior, .proxima {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    transition: 0.3s;
    z-index: 1001;
  }
  
  .anterior:hover, .proxima:hover {
    color: hsl(0, 0%, 22%);
  }
  
  .anterior {
    left: 20px;
  }
  
  .proxima {
    right: 20px;
  }
  